.form-cadastro-aluno-container {
  width: 100%; /* Ocupa toda a largura disponível */
  max-width: 80%; /* Define uma largura máxima */
  padding: 20px; /* Adiciona padding ao redor do contêiner */
}

.formulario {
  display: block; /* Altera a exibição para bloco */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px #ccc;
  border-radius: 5px;
}

.dados_pessoais_nome_cpf,
.dados_pessoais_nascimento_sexo,
.dados_pessoais_email_telefone,
.endereco1 {
  display: flex;
  gap: 10%; /* Adiciona um gap entre os campos */
  padding: 0 1%;
  margin-bottom: 20px; /* Adiciona margem inferior para espaçamento */
}

.campo_nome {
  width: 60%; /* Define a largura específica para o nome */
}

.campo_cpf {
  width: 30%; /* Define a largura específica para o CPF */
}

.campo_nascimento,
.campo_sexo,
.campo_email,
.campo_telefone,
.campo_cep,
.campo_estado,
.campo_cidade,
.campo_rua,
.campo_numero {
  width: calc(33.33% - 20px); /* Define a largura específica para os campos menores */
}

.campo_email,
.campo_telefone {
  width: calc(50% - 20px); /* Define a largura específica para os campos de email e telefone */
}

.campo_rua {
  width: calc(70% - 20px); /* Define a largura específica para o campo rua */
}

.campo_numero {
  width: calc(30% - 20px); /* Define a largura específica para o campo número */
}

.campo label {
  display: block;
  margin-bottom: 5px; /* Espaço entre o label e o input */
  font-weight: bold; /* Adiciona negrito aos labels para melhor visualização */
}

.input {
  width: 100%;
  padding: 10px; /* Aumenta o padding para inputs maiores */
  border: 1px solid #bbb;
  border-radius: 5px;
}

.botao-container {
  display: flex;
  justify-content: flex-end; /* Alinha o botão à direita */
  margin-top: 20px; /* Adiciona margem superior para separar do formulário */
}

.botao {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #1a202c;
  color: white;
  text-align: center;
}

select.input {
  height: 38px;
}
