.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /* Uso total da largura disponível */
}

.campo {
    margin-bottom: 20px;
}

.input,
.grupo-exercicio-esp select,
.grupo-exercicio-esp  {
    width: 100%;
    /* Ajusta os elementos para ocuparem todo o espaço disponível */
}

.grupo-exercicio-esp input {
    width: 90px;
    text-align: center;
}

.semana {
    display: flex;
    flex-direction: column;
    /* Muda a direção para coluna */
    gap: 20px;
    /* Espaçamento entre cada dia da semana */
}

.dia {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinha os elementos à esquerda */
    border: solid 1px #7e7c7cce;
    border-radius: 10px;
    padding: 10px;
}

.grupo-exercicio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grupo-exercicio-esp {
    display: flex;
    gap: 5px;
    align-items: center;
}

.grupo-exercicio-esp button {
    width: auto;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.botao {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}