.container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #000;
    background-color: #fff;
    min-height: 100vh;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
}

.day {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
}

.exercicioContainer {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.exercicioContainer.completed {
    background-color: #1e1e1e; /* Mantendo o fundo original */
}

.check {
    font-size: 1.5rem;
    color: #00ff00; /* Cor verde para o check */
    cursor: pointer;
    user-select: none;
}

.exercicioInfo {
    display: flex;
    flex-direction: column;
}

.exercicioName {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 5px;
}

.exercicioDetail {
    font-size: 1rem;
    color: #cccccc;
}

.noExercise {
    font-size: 1.2rem;
    color: #cccccc;
    font-style: italic;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.8rem;
    }

    .day {
        font-size: 1.4rem;
    }

    .exercicioName {
        font-size: 1.2rem;
    }

    .exercicioDetail {
        font-size: 1rem;
    }

    .check {
        font-size: 1.2rem;
    }
}
