.form-cadastro-aluno-container {
  width: 100%;
  max-width: 80%;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.formulario {
  display: block;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dados_pessoais_nome_cpf,
.dados_pessoais_email_telefone,
.endereco1 {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
  flex-wrap: wrap; /* Permite que os itens se ajustem em várias linhas */
}

.campo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.campo_nome, 
.campo_rua {
  flex: 1;
}

.campo_cpf,
.campo_nascimento,
.campo_sexo,
.campo_senha {
  flex: 0;
}

.campo_cep,
.campo_estado,
.campo_cidade,
.campo_numero,
.campo_email,
.campo_telefone{
  flex: 0;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .campo {
    flex: 1 1 100%;
  }
}

.campo label {
  font-weight: bold;
  margin-bottom: 5px;
}

.campo input,
.campo select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.botao-container {
  display: flex;
  justify-content: flex-end;
}

.botao {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #1a202c;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #4a5568;
}
