.header {
  background-color: #333;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navList li {
  margin: 0;
}

.navList a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  transition: color 0.5s ease, transform 0.5s ease;
}

.navList a:hover {
  color: #f0a500;
  transform: scale(1.05);
}

.icon {
  margin-right: 0.5rem;
}

.navText {
  display: none;
  transition: display 0.5s ease;
}

.navList a:hover .navText {
  display: inline;
}

.logoutButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.5s ease, transform 0.5s ease;
}

.logoutButton:hover {
  color: #f0a500;
  transform: scale(1.05);
}

.formulario {
  display: block;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.5s ease;
}

.dados_pessoais,
.endereco1 {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}

.campo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.campo_nome, 
.campo_rua {
  flex: 1;
}

.campo_cpf,
.campo_nascimento,
.campo_sexo {
  flex: 1;
}

.campo_cep,
.campo_estado,
.campo_cidade,
.campo_numero,
.campo_email,
.campo_telefone {
  flex: 1;
}

@media (max-width: 768px) {
  .campo {
    flex: 1 1 100%;
  }
}

.campo label {
  font-weight: bold;
  margin-bottom: 5px;
}

.campo input,
.campo select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.botao-container {
  display: flex;
  justify-content: flex-end;
}

.botao {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #1a202c;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.5s ease;
}

.botao:hover {
  background-color: #4a5568;
}
