.header {
  background-color: #333;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navList li {
  margin: 0;
}

.navList a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  transition: color 0.5s ease, transform 0.5s ease;
}

.navList a:hover {
  color: #f0a500;
  transform: scale(1.05);
}

.icon {
  margin-right: 0.5rem;
}

.navText {
  display: none;
  transition: display 0.5s ease;
}

.navList a:hover .navText {
  display: inline;
}

.logoutButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.5s ease, transform 0.5s ease;
}

.logoutButton:hover {
  color: #f0a500;
  transform: scale(1.05);
}

.alunoInfo {
  display: flex;
  align-items: center;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #f0a500;
}

.alunoNome {
  font-size: 1rem;
  color: white;
}

/* Additional styling for mobile responsiveness if needed */
@media (max-width: 768px) {
  .navText {
    display: inline; /* For smaller screens, always display the text */
  }

  .navList {
    flex-direction: column;
    align-items: center;
  }

  .profilePic {
    width: 30px;
    height: 30px;
  }

  .alunoNome {
    font-size: 0.9rem;
  }
}
