.Table {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    word-break: break-all;
    margin: 20px 0;
    max-width: 800px; /* Ajuste conforme necessário */
  }
  
  .Td {
    padding: 10px;
  }
  
  .AlignCenter {
    text-align: center;
  }
  
  .EditButton,
  .DeleteButton {
    margin-right: 10px;
    cursor: pointer;
    color: #017bff; /* Azul para editar */
  }
  
  .DeleteButton {
    color: #dc3545; /* Vermelho para deletar */
  }
  