.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.botaoNavegacao {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.tituloDia {
    font-size: 24px;
    font-weight: bold;
}

.dia {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #7e7c7cce;
    border-radius: 10px;
    padding: 10px;
}

.grupoExercicio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grupoExercicioEsp {
    display: flex;
    gap: 5px;
    align-items: center;
}

.grupoExercicioEsp input {
    width: 90px;
    text-align: center;
}

.grupoExercicioEsp select,
.grupoExercicioEsp {
    width: 100%;
}

.grupoExercicioEsp button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.botao {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
